body{
  background: url("../img/messageboard1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  content: '';
  /* position: fixed; */
  top: 0; left:0; bottom:0; right:0;
  /* overflow: scroll; */
}

/* #searchid{
  position: fixed;
  top: 0px;
  right: 0px;

} */

.style-top-of-page {
  border: solid black 2px;
  background-color: lightgreen;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.style-new-post-form {
  border: solid black 2px;
  background-color: cyan;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .style-reply {
  border: solid black 2px;
  background-color: lightcyan;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
} */

/* .style-post {
  border: solid black 2px;
  background-color: lightblue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
} */

.style-search-form {
  border: solid black 2px;
  background-color: grey;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* #searchButton{
  height:20px;
	width:50px;
  padding-left: 10px;
  margin-left: 40%;
} */

#searchPerson{
  font-weight: bold;
  font-style: italic;
  border: black;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 100px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
