body{
  background: url("../img/messageboard1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  content: '';
  position: fixed;
  top: 0; left:0; bottom:0; right:0;
  overflow: scroll;
}

/* #searchid{
  position: fixed;
  top: 0px;
  right: 0px;

} */

.style-top-of-page {
  border: solid black 2px;
  background-color: lightgreen;

}

.style-new-post-form {
  border: solid black 2px;
  background-color: cyan;
}

.style-reply {
  background-color: lightcyan;
}

.style-post {
  background-color: lightblue;
}

/* #searchButton{
  height:20px;
	width:50px;
  padding-left: 10px;
  margin-left: 40%;
} */

#searchPerson{
  font-weight: bold;
  font-style: italic;
  border: black;
}
